@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.spaceGroteskFont {
  font-family: "Space Grotesk", sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Project custom css */

h1 {
  color: #d0dce8;
  font-family: "Space Grotesk";
  font-size: 59px;
  font-weight: 400;
  line-height: 130%;
  width: 654px;
}

h2 {
  font-size: 55px;
}
h3 {
  font-size: 45px;
}
/*----------------- Navbar css start ---------------*/
.navLinks a {
  color: #d0dce8;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  transition: all linear 0.3s;
}
.navLinks a:hover {
  cursor: pointer;
  color: #6bdab7;
}
.navbarBtn {
  transition: transform 0.3s ease;
  display: inline-block;
}
.navbarBtn:hover {
  transform: scale(1.1);
}

/*--------------- Banner css start ---------------*/
.bannerTop {
  color: #d0dce8;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
}
.bannerText {
  display: inline;
  background: linear-gradient(45deg, #28e0b2 0%, #28b4e0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  line-height: 130%;
}
.bannerBottom {
  color: #d0dce8;
  font-size: 22px;
  line-height: 170%;
  margin-top: 40px;
  opacity: 0.7;
}
.stackingText {
  width: 1140px;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #000;
  font-size: 89.59px;
  font-weight: 400;
  line-height: 130%;
  opacity: 0.9;
  letter-spacing: -2px;
}
.circleRight {
  background: linear-gradient(
    45deg,
    rgba(40, 224, 178, 1) 0%,
    rgba(40, 180, 224, 1) 100%
  );
  border-radius: 434.5px;
  filter: blur(382px);
  height: 869px;
  right: 0;
  opacity: 0.4;
  overflow-x: hidden;
  top: 0;
  width: 869px;
}
/* -------------About section css start */
.aboutTop {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 5.4px;
}
.aboutTop {
  opacity: 0.7;
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutP {
  width: 751px;
  color: #7a8699;
  font-size: 28px;
  line-height: 150%;
}
.aboutStak {
  color: #8993a4;
  font-size: 23px;
  line-height: 120%;
}
.aboutNumber {
  text-shadow: 0 4px 64px rgba(40, 222, 180, 0.7);
  font-weight: 700;
  line-height: 120%;
}
.aboutNumber {
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutLeftSvgBg {
  fill: #5cfff3;
  opacity: 1;
  filter: blur(122px);
  flex-shrink: 0;
}
.aboutLeftSvg {
  stroke-width: 1px;
  stroke: #28e0b2;
  opacity: 0.6;
  flex-shrink: 0;
}
/* ------------- How to works css--------------- */
.howItWorksTitle {
  color: #d0dce8;
  font-size: 55px;
  line-height: 120%;
}
.howItWorksSubTitle {
  color: #d0dce8;
  font-size: 28px;
  line-height: 120%;
}
.howItWorksP {
  color: #d0dce8;
  font-size: 18px;
  line-height: 120%;
  opacity: 0.7;
}
.buyAndSell {
  color: #d0dce8;
  font-size: 12px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 2.4px;
}
.theAutomaticText {
  color: #d0dce8;
  font-size: 15px;
  width: 256px;
  text-align: center;
  font-weight: 600;
  line-height: 170%;
}
.theAutomaticText span {
  color: #d0dce8;
  font-size: 18px;
  font-weight: 600;
  line-height: 170%;
}
.howItWorksMiddleBoxContent h3 {
  color: #d0dce8;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
.howItWorksMiddleBoxContent p {
  width: 309px;
  opacity: 0.7;
  color: var(--UI-WHITE, #d0dce8);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

.howItWorksBottomBoxContent h4 {
  width: 252px;
  color: #d0dce8;
  text-align: center;
  font-size: 14px;
  line-height: 160%;
}
.howItWorksBottomBoxContent span {
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 160%;
}
.rotateText {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1.3px transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
      180deg,
      rgba(208, 220, 232, 0.35) 0%,
      rgba(208, 220, 232, 0.16) 100%
    )
    1;
  transform: rotate(90deg);

  font-size: 89.59px;
  line-height: 130%;
  letter-spacing: 0;
  font-weight: 500;
  color: transparent;
}

/* ----------Titano App section css----------------- */
.titanoLeftContent h5 {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 5.4px;
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titanoLeftContent h3 {
  color: #d0dce8;
  font-size: 45px;
  line-height: 120%;
}
.titanoLeftContent p {
  width: 558px;
  color: #7a8699;
  font-size: 18px;
  line-height: 150%;
}
.titanoLeftContent .contentlist {
  width: 508px;
  color: #d0dce8;
  font-size: 18px;
  line-height: 160%;
}
.titanoLeftContent .btn button {
  font-size: 23px;
  line-height: 120%;
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all linear 0.3s;
}
.titanoLeftContent .btn button:hover {
  scale: 1.2;
  cursor: pointer;
}
.right-content {
  background: #0c121e;
  width: 100%;
}
.titano-right-box-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 14px;
}
.titano-right-box-title .title {
  display: flex;
  gap: 12px;
  color: #d0dce8;
  align-items: center;
  justify-content: center;
}
.titano-right-box-title h4 {
  font-size: 28px;
  font-weight: 500;
}
.titano-right-box-title .summary {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #d0dce8;
  font-size: 18px;
  list-style: none;
}

.titano-right-box-title .title-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.titano-right-box-title .title-right button {
  background: linear-gradient(#8ddab6, #659f82);
  padding: 14px 18px;
  font-size: 18px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all linear 0.3s;
}
.titano-right-box-title .title-right button:hover {
  transform: scale(1.1);
  color: white;
  background: linear-gradient(#85b7a0, #589074);
}
