@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.spaceGroteskFont {
  font-family: "Space Grotesk", sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Project custom css */

h1 {
  color: #d0dce8;
  font-family: "Space Grotesk";
  font-size: 59px;
  font-weight: 400;
  line-height: 130%;
  width: 654px;
}

h2 {
  font-size: 55px;
}
h3 {
  font-size: 45px;
}
/*----------------- Navbar css start ---------------*/
.navLinks a {
  color: #d0dce8;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  transition: all linear 0.3s;
}
.navLinks a:hover {
  cursor: pointer;
  color: #6bdab7;
}
.navbarBtn {
  transition: transform 0.3s ease;
  display: inline-block;
}
.navbarBtn:hover {
  transform: scale(1.1);
}

/*--------------- Banner css start ---------------*/
.bannerTop {
  color: #d0dce8;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
}
.bannerText {
  display: inline;
  background: linear-gradient(45deg, #28e0b2 0%, #28b4e0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  line-height: 130%;
}
.bannerBottom {
  color: #d0dce8;
  font-size: 22px;
  line-height: 170%;
  margin-top: 40px;
  opacity: 0.7;
}
.stackingText {
  width: 1140px;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #000;
  font-size: 89.59px;
  font-weight: 400;
  line-height: 130%;
  opacity: 0.9;
  letter-spacing: -2px;
}
.circleRight {
  background: linear-gradient(
    45deg,
    rgba(40, 224, 178, 1) 0%,
    rgba(40, 180, 224, 1) 100%
  );
  border-radius: 434.5px;
  filter: blur(382px);
  height: 869px;
  right: 0;
  opacity: 0.4;
  overflow-x: hidden;
  top: 0;
  width: 869px;
}
/* -------------About section css start */
.aboutTop {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 5.4px;
}
.aboutTop {
  opacity: 0.7;
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutP {
  width: 751px;
  color: #7a8699;
  font-size: 28px;
  line-height: 150%;
}
.aboutStak {
  color: #8993a4;
  font-size: 23px;
  line-height: 120%;
}
.aboutNumber {
  text-shadow: 0 4px 64px rgba(40, 222, 180, 0.7);
  font-weight: 700;
  line-height: 120%;
}
.aboutNumber {
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutLeftSvgBg {
  fill: #5cfff3;
  opacity: 1;
  filter: blur(122px);
  flex-shrink: 0;
}
.aboutLeftSvg {
  stroke-width: 1px;
  stroke: #28e0b2;
  opacity: 0.6;
  flex-shrink: 0;
}
/* ------------- How to works css--------------- */
.howItWorksTitle {
  color: #d0dce8;
  font-size: 55px;
  line-height: 120%;
}
.howItWorksSubTitle {
  color: #d0dce8;
  font-size: 28px;
  line-height: 120%;
}
.howItWorksP {
  color: #d0dce8;
  font-size: 18px;
  line-height: 120%;
  opacity: 0.7;
}
.buyAndSell {
  color: #d0dce8;
  font-size: 12px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 2.4px;
}
.theAutomaticText {
  color: #d0dce8;
  font-size: 15px;
  width: 256px;
  text-align: center;
  font-weight: 600;
  line-height: 170%;
}
.theAutomaticText span {
  color: #d0dce8;
  font-size: 18px;
  font-weight: 600;
  line-height: 170%;
}
.howItWorksMiddleBoxContent h3 {
  color: #d0dce8;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
.howItWorksMiddleBoxContent p {
  width: 309px;
  opacity: 0.7;
  color: var(--UI-WHITE, #d0dce8);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

.howItWorksBottomBoxContent h4 {
  width: 252px;
  color: #d0dce8;
  text-align: center;
  font-size: 14px;
  line-height: 160%;
}
.howItWorksBottomBoxContent span {
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  line-height: 160%;
}
.rotateText {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1.3px transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
      180deg,
      rgba(208, 220, 232, 0.35) 0%,
      rgba(208, 220, 232, 0.16) 100%
    )
    1;
  transform: rotate(90deg);
  font-size: 89.59px;
  line-height: 130%;
  letter-spacing: 0;
  font-weight: 500;
  color: transparent;
}

/* ----------Titano App section css----------------- */
.titanoLeftContent h5 {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 5.4px;
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titanoLeftContent h3 {
  color: #d0dce8;
  font-size: 45px;
  line-height: 120%;
}
.titanoLeftContent p {
  width: 558px;
  color: #7a8699;
  font-size: 18px;
  line-height: 150%;
}
.titanoLeftContent .contentlist {
  width: 508px;
  color: #d0dce8;
  font-size: 18px;
  line-height: 160%;
}
.titanoLeftContent .btn button {
  font-size: 23px;
  line-height: 120%;
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all linear 0.3s;
}
.titanoLeftContent .btn button:hover {
  scale: 1.1;
  cursor: pointer;
}
.right-content {
  background: #0c121e;
  width: 100%;
  padding: 20px 12px;
}
.titano-right-box-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titano-right-box-title .title {
  display: flex;
  gap: 12px;
  color: #d0dce8;
  align-items: center;
  justify-content: center;
}
.titano-right-box-title h4 {
  font-size: 28px;
  font-weight: 500;
}
.titano-right-box-title .summary {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #d0dce8;
  font-size: 18px;
  list-style: none;
}

.titano-right-box-title .title-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.titano-right-box-title .title-right button {
  background: linear-gradient(#8ddab6, #659f82);
  padding: 14px 18px;
  font-size: 18px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all linear 0.3s;
}
.titano-right-box-title .title-right button:hover {
  transform: scale(1.1);
  color: #d0dce8;
  background: linear-gradient(#85b7a0, #589074);
}
.account-details .top-content {
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.right-content .main-content .menu ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  color: #d0dce8;
  font-size: 20px;
  margin-top: 16px;
  cursor: pointer;
  transition: all linear 0.3s;
}
.right-content .main-content .menu ul li:hover {
  transform: scale(1.1);
}
.right-content .account-details .top-content ul {
  display: flex;
  align-items: center;
  gap: 4px;
}
.right-content .account-details .top-content ul li {
  color: #d0dce8;
  font-size: 18px;
  font-weight: 600;
}
.right-content .account-details .top-content .progress-icon {
  color: #e7b562;
}
.right-content .account-details .top-content .chart-icon {
  color: #8ddbb8;
}
.right-content .account-details .top-content .rebase-icon {
  color: #8065d8;
}
.right-content .account-details .top-content button {
  margin-top: 16px;
  cursor: pointer;
  color: #d0dce8;
  transition: all linear 0.3s;
  font-weight: 600;
}
.right-content .account-details .top-content button:hover {
  transform: scale(1.1);
}
.right-content .account-details .top-content .progress-content button {
  background: linear-gradient(#080d18, #090f1d);
  padding: 12px 18px;
  border-radius: 10px;
  border-top: 1px solid #5d4d35;
  margin-top: 16px;
  cursor: pointer;
  color: #d0dce8;
  font-weight: 600;
}
.right-content
  .account-details
  .top-content
  .chart-content
  .chart-button
  button {
  padding: 0px 0 12px 18px !important;
}
.right-content .account-details .top-content .chart-content .chart-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#080d18, #090f1d);
  border-radius: 10px;
  border-top: 1px solid #507f6a;
  transition: all linear 0.3s;
  margin-top: 16px;
  cursor: pointer;
  color: #d0dce8;
  font-weight: 600;
}
.right-content .account-details .top-content .chart-content .chart-button span {
  background: #73bb9e;
  color: #d0dce8;
  height: 100%;
  padding: 14px;
  font-weight: 600;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 3% 50%);
}
.right-content
  .account-details
  .top-content
  .chart-content
  .chart-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.right-content .account-details .top-content .rebase-content button {
  background: linear-gradient(#080d18, #090f1d);
  padding: 14px 18px;
  border-radius: 10px;
  border-top: 1px solid #634eed;
  color: #634eed;
  margin-top: 16px;
  cursor: pointer;
  color: #d0dce8;
  font-weight: 600;
}
/* top content css end */

/* sumassy content css start */
.right-content .main-content .account-details .finance-box-section {
  padding: 18px;
}
.right-content .main-content .account-details .finance-box-section .title h5 {
  color: #d0dce8;
  font-size: 18px;
  font-weight: 600;
}

.right-content
  .main-content
  .account-details
  .finance-box-section
  .finance-box {
  border: 2px solid #19273c;
  border-radius: 8px;
  margin-top: 6px;
  padding: 26px 20px;
}
.right-content
  .main-content
  .account-details
  .finance-box-section
  .finance-box
  .finance-title {
  color: #d0dce8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 16px;
}
.right-content
  .main-content
  .account-details
  .finance-box-section
  .finance-box
  .finance-title
  p {
  color: #90ddba;
  text-shadow: 0 3px 25px rgba(40, 222, 180, 0.8);
}
.right-content
  .main-content
  .account-details
  .finance-box-section
  .finance-box
  .box-main-content {
  border-top: 2px solid #242629;
  padding-top: 16px;
  font-weight: 400;
}
.right-content
  .main-content
  .account-details
  .finance-box-section
  .finance-box
  .box-main-content
  .wallet-balance {
  color: #d0dce8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-content
  .main-content
  .account-details
  .finance-box-section
  .finance-box
  .box-main-content
  .next-amount {
  color: #d0dce8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}
.right-content
  .main-content
  .account-details
  .finance-box-section
  .finance-box
  .box-main-content
  .next-yield {
  color: #d0dce8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}
.right-content
  .main-content
  .account-details
  .finance-box-section
  .finance-box
  .box-main-content
  .roi {
  color: #d0dce8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}
.right-content
  .main-content
  .account-details
  .finance-box-section
  .finance-box
  .box-main-content
  .roi
  li:last-child {
  color: #8ddbb8;
}
/* -------------Calculator seciton css start */
.right-content .main-content .calculator {
  padding-left: 8px;
}
.right-content .main-content .calculator .title h4 {
  color: #d0dce8;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}
.right-content .main-content .calculator .cart-container {
  background: #141a28;
  color: #d0dce8;
  padding: 20px 16px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  margin-top: 12px;
}
.right-content .main-content .calculator .cart-container .cart-title h4 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.right-content
  .main-content
  .calculator
  .cart-container
  .cart-title
  .title-input {
  background: #141b2d;
  padding: 16px 20px;
  border: 1px solid #262e38;
  border-radius: 12px;
  align-items: center;
  width: 100%;
  outline: none;
}
.right-content .main-content .calculator .cart-container .cart-trial-btns {
  margin-top: 20px;
}
.right-content .main-content .calculator .cart-container .cart-trial-btns ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}
.right-content
  .main-content
  .calculator
  .cart-container
  .cart-trial-btns
  ul
  li {
  background: #1d2845;
  padding: 12px 10px;
  font-size: 14px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(1, 1, 1, 0.2);
  list-style: none;
  overflow: hidden;
}

.right-content
  .main-content
  .calculator
  .cart-container
  .cart-trial-btns
  ul
  li:hover {
  background: linear-gradient(#dc7d6c, #ecc070);
}
.right-content
  .main-content
  .calculator
  .cart-container
  .cart-last-contents
  .input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #141b2d;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 16px 20px;
  border-radius: 12px;
  color: #d0dce8;
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 12px;
}
.right-content
  .main-content
  .calculator
  .cart-container
  .cart-last-contents
  .input-group
  input {
  background: transparent;
  border: none;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  color: #8ddbb8;
  width: 80px;
  outline: none;
  pointer-events: none;
}
.right-content .main-content .calculator .cart-container .cart-last-contents p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}
.right-content
  .main-content
  .calculator
  .cart-container
  .cart-last-contents
  button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(165deg, #dc7a6d, #eec571);
  padding: 12px 26px;
  border: 2px solid #e9ba6a;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 8px 15px rgba(1, 1, 1, 0.2);
  margin-bottom: 10px;
  transition: all linear 0.3s;
}
.right-content
  .main-content
  .calculator
  .cart-container
  .cart-last-contents
  button:hover {
  transform: scale(1.1);
}
/* ----------Earn section css start---------- */
.earn-container {
  margin-top: 40px;
  padding-bottom: 60px;
}

.earn-container .title h2 {
  color: #d0dce8;
  text-align: center;
  font-size: 55px;
  line-height: 120%;
}
.earn-container .title p {
  color: #7a8699;
  text-align: center;
  font-size: 28px;
  line-height: 120%;
  margin-top: 20px;
}
.earn-container .svg-section {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
  justify-content: baseline;
}
.earn-container .svg-section .svg1 p {
  width: 708px;
  color: #d0dce8;
  font-size: 39px;
  line-height: 130%;
}

.earn-container .svg-section .svg2 h4 {
  width: 708px;
  color: #d0dce8;
  font-size: 39px;
  line-height: 130%;
}
.earn-container .svg-section .svg2 p {
  color: #7a8699;
  padding-top: 15px;
  font-size: 18px;
  line-height: 120%;
}
.earn-container .svg-section .title-color {
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 39px;
  font-weight: 700;
  line-height: 130%;
}

/* ------------Tokenomics section css start------------ */
.tokenomics-container .top-content h5 {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 5.4px;
  background: linear-gradient(45deg, #28e0b2 0%, #28e0b2 100%);
  background-clip: text;
  text-transform: uppercase;
  padding-bottom: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tokenomics-container .top-content h3 {
  color: #d0dce8;
  padding-bottom: 20px;
  line-height: 120%;
}
.tokenomics-container .top-content p {
  width: 558px;
  color: #d0dce8;
  font-size: 18px;
  line-height: 150%;
}

/* donut chart css */
.donut-chart {
  position: relative;
  width: 402px;
  height: 402px;
  margin-left: 28px;
  border-radius: 100%;
}
p.center {
  background: #070b0f;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  height: 260px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
p.center2 {
  background: linear-gradient(180deg, #1c1b2e 0%, #000 100%);
  filter: drop-shadow(0 0 14px rgba(40, 224, 178, 0.1));
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 180px;
  border: 2px solid #28b4e0;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
.chart-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}
.portion-block {
  border-radius: 50%;
  clip: rect(0px, 402px, 402px, 201px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.circle {
  border-radius: 50%;
  clip: rect(0px, 201px, 402px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
}

#part1 {
  transform: rotate(0deg);
}

#part1 .circle {
  background-color: #66d1ad;
  animation: first 1s 1 forwards;
}

#part2 {
  transform: rotate(100deg);
}
#part2 .circle {
  background-color: #336a5c;
  animation: second 1s 1 forwards 1s;
}
#part3 {
  transform: rotate(250deg);
}
#part3 .circle {
  background-color: #183632;
  animation: third 0.5s 1 forwards 2s;
}

/* Animation */
@keyframes first {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(100deg);
  }
}

@keyframes second {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(150deg);
  }
}

@keyframes third {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(111deg);
  }
}
.box1SvgP h5 {
  color: #d0dce8;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
.box1SvgP p {
  padding-top: 10px;
  width: 309px;
  color: #7a8699;
  font-size: 14px;
  line-height: 160%;
}
/* .rotate-tokenomics-right {
  transform: rotate(-90deg);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #000;
  font-size: 89.59px;
  line-height: 130%;
  letter-spacing: 0;
  position: absolute;
  right: -36px;
  top: 115px;
} */

.rotate-tokenomics-right {
  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-stroke: 1.3px transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
      180deg,
      rgba(208, 220, 232, 0.35) 0%,
      rgba(208, 220, 232, 0.16) 100%
    )
    1;
  transform: rotate(-90deg);
  font-size: 89.59px;
  line-height: 130%;
  letter-spacing: 0;
  font-weight: 500;
  color: transparent;
  position: absolute;
  right: -36px;
  top: 115px;
}
